
:root{
    --blue: #4081ec; /* rgba(64, 129, 236, 1)   */
    --orange: #f58220; /* rgba(245, 130, 32, 1) */
}

.adopt{
    width: 100%;
    margin: 0;
    padding: 0;
}

.adopt-title{
    text-align: center;
    padding-top: 2em;
}

.searchbar-component{
    width: 100%;
}


.dogs-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dog-item{
    padding: 2em 1em;
}

.dog-name{
    color: red;
    font-size: 8em;
    z-index: 20;
}

.dog-info{
    width: 400px;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 1em;
}

.dog-info:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: 4px solid var(--orange);
}









