
:root{
    --blue: #4081ec; /* rgba(64, 129, 236, 1)   */
    --orange: #f58220; /* rgba(245, 130, 32, 1) */
}

.btn{
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.solid{
    background-color: var(--orange);
    color: #fff;
    border: 3px solid var(--orange);
}

.outline{
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    border: 3px solid #fff;
    text-shadow: 2px 2px 5px #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.outline:hover{
    transform: scale(1.1);
    background-color: rgba(245, 130, 32, .7);
}

.small{
    padding: .5em 1em;
    font-size: 2rem;
}

.medium{
    padding: 1em 2em;
    font-size: 2rem;
}

.large{
    width: 6.5em;
    height: 3.5em;
    font-size: 2rem;
}

/*


:root{
    --blue: #0f2b4c;
    --orange: #e4c204;
}

 
.btn{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary{
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.btn--outline{
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 3px solid var(--orange);
    transition: all 0.3s ease-out;
}

.btn--medium{
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large{
    padding: 12px 26px;
    font-size: 20px
} 




*/