
:root{
    --blue: #4081ec; /* rgba(64, 129, 236, 1)   */
    --orange: #f58220; /* rgba(245, 130, 32, 1) */
    --darkblue: #00093f; 
    --skyblue: #93b3e8;
}

.top-nav{
    background-color: var(--darkblue);
    width: 100%;
    margin: 0;
    padding: 0;
}

.top-nav-container{
    height: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-nav-info{
    font-size: .8rem;
    color: #fff;
}


.social-media-list{
    list-style: none;
}

.social-media-list li {
    display: inline-block;
    padding: 0.3em;
    font-size: 1.1rem;
    color: #fff;
}


.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5em;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 5px 10px #888888;}

.logo{
    color: #000;
    font-size: 2rem;
    text-decoration: none;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    list-style: none;
}

.nav-mobile{
    display: none;
}

.nav-items{
    font-size: 1rem;
    padding: 0.63em 1.25em;
    transition: all .2s ease-in-out;
}

.nav-items:hover{
    transform: scale(1.1);

}

.nav-links{
    color: #000;
    text-decoration: none;
}

.nav-links:hover{
    color: var(--darkblue);
    transform: scale(3);
    font-weight: bold;
    border-bottom: 2px solid var(--darkblue);
}

.mobile-icon{
    display: none;
}



@media screen and (max-width: 780px) {
   

    .info-bar{
        display: none;
    }


    .nav-menu{
        display: none;
    }

    .nav-mobile{
        display: block;
        position: absolute;
        list-style: none;
        color: #fff;
        top: 5em;
        left: 0;
        transition: all 0.5s ease-out;
        width: 100%;
        background-color: var(--darkblue);
    }

    .nav-items{
        text-align: center;
        padding: 1.7em;
        width: 100%;
        transition: all 0.5s ease;
    }

    .mobile-icon{
        display: block;
        color: #fff;
        position: absolute;
        top: .8em;
        right: 1.6em;
        font-size: 2em;
    }

}


















